/*****     GENERAL     ****/
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@font-face {
		font-family: 'Roboto';
		src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
			 url('../fonts/Roboto-Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
  }
  
  @font-face {
		font-family: 'Roboto';
		src: url('../fonts/Roboto-Light.woff2') format('woff2'),
			 url('../fonts/Roboto-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
  }
  
  @font-face {
		font-family: 'Roboto';
		src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
			 url('../fonts/Roboto-Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
  }
  
	
	@font-face {
		font-family: 'Orbitron';
		font-style: normal;
		font-weight: 400;
		src: url("../fonts/Orbitron.woff") format('woff');
	}
	
	html,body{
		width: 100%;
		height: 100%;
		font-family: Roboto;
	}

	h1{
		font-family: Orbitron;
		font-size: 30px;
		text-align: center;
		margin-bottom: 30px;

	}

	h2{
		font-size: 22px;
		font-weight: 400;
	}

	p{
		font-size: 16px;
		font-weight: 300;
	}

	a{
		color: white;
		text-decoration: none;
	}

	section{
		width: 100%;
		padding: 50px 2%;
	}

	.container{
		max-width: 1400px;
		height: 100%;
		margin: 0 auto;
		padding: 0 2%;
	}

	.flexbox{
		width: 100%;
		height: 100%;
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
	}


/*****     HEADER     *****/
	.header{
		width: 100%;
		height: 70px;
		background: black;
		border-bottom: 1px solid #3b3c3e;
		position: fixed;
		z-index: 100;
	}

	.header-left{
		width: 30%;
		text-align: left;
	}

	.logo{
		font-family: Orbitron;
		color: white;
		font-size: 2.5vw;
		line-height: 65px;
	}

	.logo > span,
	.logo-apres > span{color: #69a2e2;}

	.header-right{
		width: 70%;
		text-align: right;
	}

	ul.menu-desktop{
		list-style-type: none;
		display: inline-flex;
	}

	ul.menu-desktop li{
		font-size: 18px;
		margin: 10px;
		line-height: 50px;
	}

	ul.menu-desktop li a,
	ul.menu-mobile li a{
		padding: 0 8px;
		border: 1px solid black;
	}

	ul.menu-desktop li a:hover,
	ul.menu-mobile li a:hover{
		border-left: 1px solid white;
		border-right: 1px solid white;
	}

	ul.menu-mobile{
		display: none;
		width: 0;
		height: 70vh;
		background-color: black;
		text-align: left;
		position: absolute;
		left: 0;
		z-index: 8;
		border: 2px solid #3b3c3e;
		padding: 10px;
		list-style-type: none;
		overflow-x: hidden;
	}

	ul.menu-mobile li{
		font-size: 18px;
		padding: 10px 0;
		white-space: nowrap;
	}

	ul.menu-mobile i{
		color: white;
		font-size: 25px;
		position: absolute;
		right: 10px;
		bottom: 10px;
		cursor: pointer;
	}

	.icon-menu-mob{display: none;}

	.icon-menu-mob i{
		cursor:pointer;
		font-size: 45px;
		color: white;
		margin: 12px;
	}


/*****     APRES     *****/
	.apres{
		width: 100%;
		height: 700px;
		background-image: url("../media/bg01.jpg");
		background-size: cover;
		background-position: center;
		color: white;
	}

	.box-apres{
		width: 100%;
		display: inline-flex;
	}

	.apres-left, .apres-right{width: 50%;}

	.logo-apres{
		width: 100%;
		font-family: Orbitron;
		color: white;
		font-size: 6vw;
		padding: 20px 0;
	}

	.texto-apres ul{
		padding: 20px 0;
		font-size: 22px;
		font-weight: 400;
		list-style-type: none;
	}

	.texto-apres ul li{padding: 10px 0;}

	.texto-apres ul li i{padding-right: 8px;}


/*****     SOBRE     *****/
	.sobre-left,
	.sobre-right{
		width: 50%;
		padding: 30px;
		text-align: center;
	}

	.sobre-left img{max-width: 100%;}

	.sobre-right p{
		margin: 40px 0;
		padding: 60px;
		text-align: left;
		border-top: 5px solid black;
		border-bottom: 5px solid black;
	}

/*****     SERVICOS     *****/
	.servicos .flexbox{
		align-items: flex-start;
		padding-top: 20px;
	}

	.servicos{
		background: black;
		color: white;
		min-height: 550px;
	}

	.servicos-single{
		width: 25%;
		text-align: center;
		padding: 10px 50px;
		border: 2px solid rgba(0,0,0,0);
		border-radius: 15px;
		transition: 1s;
	}

	.servicos-single img{
		max-width: 100%;
		cursor: pointer;
	}

	.servicos-single h2{padding-bottom: 20px;}

	.servicos-single p{
		display: none;
		text-align: left;
		padding: 10px;
	}

	.ss1:hover.ss1 p,
	.ss2:hover.ss2 p,
	.ss3:hover.ss3 p,
	.ss4:hover.ss4 p{display: block;}

	.ss1:hover.ss1,
	.ss2:hover.ss2,
	.ss3:hover.ss3,
	.ss4:hover.ss4,
	.touch-scr-style{
		border: 2px solid rgb(150,150,150);
		transform: scale(1.1);
	}


/*****     PORTFOLIO     *****/
	.port{min-height: 500px;}

	.port-single{
		width: calc(33.33% - 20px);
		height: 202px;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		margin: 15px 10px;
		cursor: pointer;
	}

	.ps1{background-image: url("../media/port01.jpg");}
	.ps2{background-image: url("../media/port02.jpg");}
	.ps3{background-image: url("../media/port03.jpg");}

	.port-single:hover .overlay,
	.overlay-bg-touch{background: rgba(0,0,0,0.7);}
	.port-single:hover .overlay a{display: inline-block;}

	.overlay{
		width: 100%;
		height: 100%;
		margin: 0 auto;
		transition: 1s;
	}

	.overlay a{
		display: none;
		font-size: 24px;
		padding: 10px;
		background: #373fa5;
		border-radius: 25px;
		position: relative;
		top: 90px;
		transition: 1s;
		border: 2px solid #776f6f;
	}


/*****     CONTATO     *****/
	.contato{
		background: black;
		color: white;
		text-align: center;
	}

	.form-contato{
		margin: 0 auto;
		max-width: 700px;
	}

	.form{
		width: 100%;
		line-height: 30px;
		margin: 8px 0;
		outline: none;
		font-family: inherit;
		font-size: inherit;
		padding: 5px;
		border-radius: 15px 0 15px 0;
	}

	.form textarea{
		height: 200px;
		resize: none;
	}

	.sel-serv{
		background-color: white;
		padding: 9px;
	}

	.alert-submit p{
		display: none;
		font-size: 18px;
		font-weight: 700;
		border: 2px dotted white;
		width: 100%;
		margin: 0 auto;
	}

	.form input[type=submit]{
		width: 100px;
		margin: 15px;
		padding: 10px;
		cursor: pointer;
		font-size: inherit;
		font-family: inherit;
		font-weight: 700;
		background-color: white;
		border-radius: 5px;
		outline: none;
	}

	#msg-sended{
		color: rgb(134, 204, 134);
	}

	#msg-error{
		color: rgb(231, 141, 141);
	}

	.form input[type=submit]:hover{background-color: #d4cdcd;}

	::placeholder {color:#4e4e4e}
	::-ms-input-placeholder{color:#4e4e4e;}


	.fonezap i{
		width: 42px;
		height: 42px;;
		font-size: 43px;
		background: rgb(30,136,30);
		border-radius: 50%;
		margin: 10px;
		cursor: pointer;
	}


/*****     CONTATO     *****/
	.footer{
		background: black;
		border-top: 3px solid #3b3c3e;
		text-align: center;
		color: white;
		padding: 10px;
	}

	.footer .flexbox{padding: 0 100px;}

	.footer-single{width:33.33%;}

	.footer-single p{
		text-align: left;
		margin-left: 70px;
	}

	.footer-single ul{
		display: inline-block;
		text-align: left;
	}

	.footer-single ul li{line-height: normal;}

	.sm-icons-footer i{
		color: white;
		font-size: 40px;
		padding: 0 10px;
	}

	.footer span p,
	.footer span a{font-size: 10px;}

	.footer span a:hover{text-decoration: underline;}


/*****     MEDIA-QUERIES     *****/
	@media screen and (max-width: 1100px){
		.logo{font-size: 3.5vw;}

		.logo-apres{font-size: 8vw;}

		.servicos-single{
			width: 50%;
			padding: 25px 50px;
		}
	}

	@media screen and (max-width: 860px){
		.logo{font-size: 5vw;}

		.apres-left{display: none;}

		.apres-right{
			width: 100%;
			margin-left: 20px;
		}

		.logo-apres{font-size: 10vw;}

		.texto-apres ul{
			text-align: left;
		}

		.sobre-left img{max-width: 50%;}

		.sobre-left,
		.sobre-right{
			width: 100%;
			padding: 10px;
		}

		.sobre-right p{
			margin: 20px 0;
			padding: 30px;
		}

		.servicos-single{
			width: 90%;
			margin: 0 auto;
			padding: 25px 10px;
		}

		.port-single{width: 100%;}

		.footer .flexbox{
			flex-wrap: wrap-reverse;
			padding: 0 2%;
		}

		.footer-single{width: 50%;}

		.footer-single:nth-of-type(1){width: 100%;}

		.footer-single p{
			text-align: center;
			margin: 20px;
			line-height: 22px;
		}

	}

	@media screen and (max-width: 665px){

		.logo{font-size: 28px;}

		ul.menu-desktop{display: none;}

		.icon-menu-mob{display: block;}

		.logo-apres{font-size: 50px;}

		.texto-apres ul{font-size: 18px;}

		.footer-single{width: 100%;}

		.footer-single > ul{
			display: inline-block;
			padding-bottom: 20px;
		}

		.overlay a{top: 80px;}

	}
